@import "tailwindcss";

:root {
  --background: #d3c4a6;
  --foreground: #f1f8f9;
  --foreground2: #757063;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-coffee: var(--foreground2);
  --shadow-4x4: 4px 4px 4px 4px #00000033;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #3d3a36;
    --foreground: #e0d6c5;
    --foreground2: #aca696;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "acme";
  src: url("../public/fonts/Acme-Regular.ttf");
}

@font-face {
  font-family: "YRDZST";
  src: url("../public/fonts/YRDZST-Medium.ttf");
}