.Intro {
    /* background-color: #c8b08bFF; */
    height: 80vh;
    width: 100%;
    /* position: relative; */
    justify-items: center;
}

/* ================== Background Image */

#Intro-BgImg-Group{
    position: absolute;
    display: block;
    overflow: hidden;
    /* max-width: 100%; */
    left: -167px;
    top: -110px;
    z-index: -1;
}

#Intro-BgImg-Group > img {
    width: 120%;
    height: 100%;
}

#Intro-Group {
    /* background-color: rgb(72, 137, 137); */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: stretch;
    justify-content: start;

    margin-top: 10%;
    margin-bottom: 70px;
    column-gap: 240px;
}

/* ================== Club Name Group */

#Intro-Group-ClubName {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: start;
    align-content: stretch;
    justify-content: start;
}

#Intro-Group-ClubName > * {
    margin: 0px;
    color: #f2e7c8FF;
    font-style: normal;
    font-weight: 500;
    text-shadow: 1px 4px 4px #1b1b1b9d;
}

#Intro-Group-ClubName > .CH {
    font-size: 120px;
}

#Intro-Group-ClubName > h2.EN {
    font-size: 32px;
}

#Intro-Group-ClubName-Times {
    font-size: 20px;
}

/* ================== Photo */

#Intro-Group-Photo-Bg {
    background-color: #f9f5e8e6;
    height: 360px;
    width: 360px;
    transform: rotate(11deg);
}

#Intro-Group-Photo-Bg > img {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}

/* ================== Mission Statement */

#Intro-Group-Mission-Divider {
    width: 98%;
    height: 3px;
    background-color: #bda888FF;
    border-radius: 10px;
    margin-bottom: 15px;
}

#Intro-Group-Mission-Statement {
    background-color: #ecd7b7;
    /* width: 100%; */
    padding: 15px 70px;
    display:block;
    border-radius: 10px;

    box-shadow: 4px 4px 4px #00000035;
}


#Intro-Group-Mission-Statement-CH {
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    line-height: 1;
    letter-spacing: 2px;
    text-align: center;
    color: #74644bFF;
}

#Intro-Group-Mission-Statement-EN {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 1.5px;
    text-align: center;
    /* margin-top: -20px; */
    color: #74644bFF;
}